/* Your SCSS here. */
.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons svg {
    width: 35px;
    height: 35px;
    fill: black;
}

.social-icons svg:hover {
    fill: gray;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: black;
}